@charset "UTF-8";

/***** MENU

*** ROOT
*** FONTES
*** BODY
*** HEADER
*** INICIO
*** SOBRE-MIM
*** TRAJETÓRIA
*** PROJETOS
*** SKILLS
*** CERTIFICADOS
*** CONTATO
*** RESPONSIVIDADE
*** MODAL

*/



/* ROOT */
:root {
    font-size: 17px;
    scroll-behavior: smooth;
}



/* FONTES */
@font-face {
    font-family: RopaSans;
    src: url(../fonts/RopaSans/RopaSans-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Rambla;
    src: url(../fonts/Rambla/Rambla-Regular.ttf);
}

 

/* BODY */
body {
    width: 100%;
    font-family: RopaSans;
    font-size: 1.2rem;
    color: white;
    background-color: #1a2321;
}



/* HEADER */
.header {
    position: fixed;
    z-index: 10;
    background-color: #1a2321;
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
}
.header__max-1000px {
    max-width: 1000px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}
.header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .13333333333rem solid rgba(255, 255, 255, 0.553);
}
.header__title {
    font-family: Rambla;
    font-size: 1.7rem;
}
.header__title a {
    color: rgb(245, 238, 238);
}
.header__first-name {
    color: rgb(8, 172, 243);
    margin-left: .3rem;
}
.header__link {
    padding: 6px;
    border-radius: 3px;
    color: white;
}
.header__link:hover {
    background-color: #2d7566;
}
.header__last-link {
    padding: 6px;
    border-radius: 3px;
    color: white;
    background-color: tomato;
}
.header__list {
    display: flex;
}
.header__li {
    margin: 0 .2rem;
}



/* INICIO */
.inicio {
    width: 100%;
    height: 100%;
}
.inicio__max-1000px {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}
.inicio__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inicio__perfil {
    font-family: Rambla;
    font-size: 2rem;
    text-align: center;
}
.inicio__perfil figure img {
    width: 250px;
    /* margin: 10rem 0 1.5rem; */
    border-radius: 50%;
}
.inicio__figcaption {
    display: none;
}
.inicio__article {
    font-family: Rambla;
    font-size: 1.6rem;
    color: rgb(154, 154, 154);
}
.inicio__article-h2 {
    font-size: 2.1rem;
   color: rgb(245, 238, 238);
}
.inicio__article-first-name {
   color: rgb(8, 172, 243);
}
/* TEXTO DINÂMICO */
.inicio__article-texto-dinamico {
    line-height: 2.3333333333rem;
    height: 2.3333333333rem;
    color: rgb(154, 154, 154);
    overflow: hidden;
}
.inicio__article-texto-dinamico li {
    left: 0;
    position: relative;
    top: 0;
    animation: slide 5s steps(2) infinite;
}
@keyframes slide {
    100% {
        top: -4.66666666666rem;
    }
}
.inicio__article-texto-dinamico h3 {
    display: inline-block;
}
.inicio__article-texto-dinamico li h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: .133333333333rem solid #2d7566;
    animation: typing 2.5s steps(15) infinite;
    background-color: #1a2321;
}
.inicio__article-texto-dinamico li h3 {
    position: relative;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -2.333333333333rem 0 2.333333333333rem;
    }
}
/* BUTTON */
.inicio__div-button {
    display: block;
    text-align: center;
    width: 100%;
    height: 3rem;
}
.inicio__button {
    /* bottom: 5.33333333333333rem; */
    width: 10.66666666666rem;
    height: 3rem;
    color: white;
    font-family: RopaSans;
    border-radius: .333333333333rem;
    letter-spacing: .133333333333rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: transparent;
    border: .2rem solid rgb(8, 172, 243);
    cursor: pointer;
    transition: .7s;
    animation: animacao_button 2s linear infinite;
}
.inicio__button:hover {
    background-color: rgb(8, 172, 243);
    border: none;
}
.inicio__button::after {
    content: "\2228";
    margin-left: .666666666666rem;
    font-weight: bold;
}
/* REDES SOCIAIS */
.inicio__redes-sociais {
    bottom: .33333333333333rem;
}
.inicio__redes-sociais-img {
    width: 2.333333333333rem;
    margin: 2rem .6666666666rem 1rem;
}
/* IMAGEM SVG */
.inicio__img-svg img {
    width: 400px;
}



/* SOBRE-MIM */



/* TRAJETÓRIA */



/* PROJETOS */



/* SKILLS */



/* CERTIFICADOS */



/* CONTATO */



/* RESPONSIVIDADE */



/* MODAL */