:root {
    font-size: 15px;
}

/* FONTES */
@font-face {
    font-family: RopaSans;
    src: url(../fonts/RopaSans/RopaSans-Regular.ttf);
}
@font-face {
    font-family: Rambla;
    src: url(../fonts/Rambla/Rambla-Regular.ttf);
}

body {
    width: 100%;
    height: 100vh;
    font-family: RopaSans;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main__address-container, .aside {
    width: 50%;
    height: 100%;
}

.main__address-container {
    background-image: url("../img/colegio_acao/tecnologia-da-informacao.jpg");
    background-size: cover;
    background-position: -8.6666rem;
    color: #FFF;
    position: relative;
}

.main__address-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__address-content img {
    position: absolute;
    top: 50px;
    z-index: 10;
    border-radius: 12px;
}
.main__address-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .8rem;
    z-index: 1;
    color: tomato;
}
.main__p {
    text-align: center;
    padding-bottom: 7rem;
}
.main__address-content p {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    letter-spacing: 1px;
    z-index: 1;
    font-weight: bold;
}
.main__address-content strong {
    color: rgb(201, 201, 201);
}
.main__address-content strong a {
    color: rgb(201, 201, 201);
    border-bottom: 2px solid rgb(201, 201, 201);
    transition: .6s;
}
.main__address-content strong a:hover {
    color: rgb(8, 172, 243);
    border-bottom: 2px solid rgb(8, 172, 243);
}

.main__responsaveis {
    position: absolute;
    left: 40px;
    bottom: 10px;
    z-index: 10;
}


.main__fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: .6;
}

.aside, .aside__form {
    display: flex;
    flex-direction: column;
}

/* FORM */
.aside {
    padding: 0 5rem;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.aside h2 {
    color: rgba(70, 70, 70, 0.683);
    font-weight: bold;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: 2rem;
}

.aside__form input,
.aside__form label,
.aside__form textarea {
    display: block;
    padding: .6666rem;
    border: .06666rem solid rgba(139, 139, 139, 0.744);
    width: 100%;
}

.aside__form label {
    color: #999;
    font-weight: bold;
    border-bottom: none;
}

.aside__form input {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.aside__form input::placeholder,
.aside__form textarea::placeholder {
    color: rgb(163, 163, 163);
}

.aside__form textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    resize: none;
}

.aside__form input[type="submit"] {
    background-color: tomato;
    color: #FFF;
    font-size: 1.06666rem;
    font-weight: bold;
    cursor: pointer;
    width: 20rem;
    margin: 2rem auto;
    border: .13333rem solid transparent;
    transition: .5s;
}

.aside__form input[type="submit"]:hover {
    border-color: tomato;
    color: tomato;
    background-color: #FFF;
}

.aside__form-selects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.aside__form-selects > select {
    margin: 0 15px 15px;
    padding: 10px;
    border: .06666rem solid rgba(139, 139, 139, 0.744);
    color: rgba(76, 76, 76, 0.744);
    font-weight: bold;
}
.aside__form-selects > option {
    padding: 10px;
}



@media(max-width: 800px) {
    body {
        height: auto;
    }

    .aside {
        padding: 0 12rem;
        box-sizing: border-box;
        font-size: 1.3rem;
    }

    .main {
        flex-direction: column-reverse;
    }

    .main__address-container, .main__fade, .aside {
        width: 100%;
        height: 97vh;
    }

    .main__address-content {
        margin: 0;
        padding: 0;
    }

    .main__address-content p {
        margin-bottom: 2rem;
    }
}

@media(max-width: 700px) {
    .aside {
        padding: 0 8rem;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
}

@media(max-width: 500px) {
    .aside {
        padding: 0 3rem;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
    .aside__form input[type="submit"] {
        font-size: 1.06666rem;
        width: 15rem;
    }
}